@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #4d4d4d;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.icon img {
  width: 20px;
}

section {
  position: relative;
  min-height: 100vh;
  background: #614635;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section.active {
  background: #d9ac83;
}

section .container {
  border-radius: 10px;
  position: relative;
  width: 1100px;
  height: 600px;
  background-color: white;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

section .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .img-box {
  position: relative;
  width: 50%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .img-box img {
  position: absolute;
  top: 0;
  left: 0;
}

section .form-box {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .form-box .top {
  position: absolute;
  top: 14px;
  right: 14px;
}

section .form-box .top p {
  font-size: 13px;
}

section .form-box .top span {
  color: #614635;
  cursor: pointer;
  font-weight: 600;
}

section form {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section form .form-control:first-child {
  text-align: center;
}

section form .form-control:first-child input {
  width: 267px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px 0;
  margin-bottom: 10px;
  text-indent: 16px;
  color: #4d4d4d;
  outline: none;
}

section form .form-control:first-child input[type="submit"] {
  display: block;
  text-align: center;
  text-indent: 0px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #b09d7b;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section form .form-control:first-child h2 {
  width: 100%;
  font-weight: 400;
  font-size: 26px;
}

section form .form-control:first-child p {
  font-size: 15px;
  margin-bottom: 20px;
}

section form .form-control:first-child span {
  font-size: 13px;
  display: block;
  text-align: right;
  margin-bottom: 20px;
}

section form .form-control:first-child div {
  position: relative;
}

section form .form-control:first-child .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}

section form .form-control:last-child {
  text-align: center;
}

section form .form-control:last-child p {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

section form .form-control:last-child p::after {
  content: "";
  position: absolute;
  right: -50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #ddd;
}

section form .form-control:last-child p::before {
  content: "";
  position: absolute;
  left: -50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #ddd;
}

section form .form-control:last-child .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

section form .form-control:last-child .icons .icon {
  cursor: pointer;
}

section form .form-control:last-child .icons .icon:not(:last-child) {
  margin-right: 15px;
}

section .container .signup {
  pointer-events: none;
}

section .container .signup .form-box {
  top: 100%;
}

section .container .signup .img-box {
  top: -100%;
}

section .container .signup .span-login {
  color: #d9ac83;
  font-weight: 600;
}

section .container .login .form-box {
  top: 0;
}

section .container .login .img-box {
  top: 0;
}

section .container.active .signup {
  pointer-events: initial;
}

section .container.active .signup .form-box {
  top: 0;
}

section .container.active .signup .img-box {
  top: 0;
}

section .container.active .login .form-box {
  top: 100%;
}

section .container.active .login .img-box {
  top: -100%;
}

@media (max-width: 996px) {
  section .container {
    max-width: 400px;
  }
  section .container .img-box {
    display: none;
  }
  section .container .form-box {
    width: 100%;
  }
}

@media (max-width: 567px) {
  section {
    padding: 0 30px;
  }
}
/*# sourceMappingURL=login.css.map */